@import url(reset.css);

/*Transition Copy / Past
transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
*/

*, html, body {
	font-family: 'Source Sans Pro', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);	
	color: #4d4d4d;
}

::selection {
	background: rgba(69, 108, 179, 1);
	color: rgba(255,255,255,1);	
}

.headerHome {
	background: url(../images/header1024w.png) no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.headerAbout {
	background: url(../images/headerAbout1024w.png) no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.headerServices {
	background: url(../images/headerServices1024w.png) no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.container {
	width: 950px;
	margin: 0 auto;
}

#info .contInfo div p {
        height: 125px;
        margin-bottom: 25px;
}